<a href="https://colab.research.google.com/github/Akeshala/Radar-and-Navigation/blob/main/Assignment%201/Radar_Assignmnet1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Radar and Navigation - Assignmnet 1
M.M.C.A. Marasinghe - 170376V

### Import libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import cv2 as cv
import io

### Import dataset

In [2]:
#@title Select test case  { display-mode: "form" }
file_name = "raw_data1.csv" #@param ["raw_data1.csv", "raw_data2.csv", "raw_data3.csv"]

In [3]:
path = "/content/drive/MyDrive/Radar & Navigation/Assignment1/" + file_name
df = pd.read_csv(path, header=None)

In [4]:
df

              0
0      0.274875
1      0.868804
2      0.807729
3      0.211036
4      1.739488
...         ...
17995  0.926143
17996  0.461956
17997 -1.305409
17998 -0.495594
17999 -0.352834

[18000 rows x 1 columns]